# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [6]:
# string.lstrip()

name = '      Daniel Boobar      '
name.lstrip()
print(name.lstrip())

      gdfdfdfd Daniel Boobar

##### .rstrip()

In [3]:
# string.rstrip()
print(name.rstrip())

      Daniel Boobar

##### .strip()

In [5]:
# string.strip()
print(name.strip())

Daniel Boobar

##### .title()

In [8]:
# string.title()
movie = 'harry potter and the half blood prince'

print(movie.title())
print(movie.capitalize())
print(movie.upper())

Harry Potter And The Half Blood Prince
Harry potter and the half blood prince
HARRY POTTER AND THE HALF BLOOD PRINCE

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [28]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

fixed = []
for name in names:
  fixed_name = name.strip().capitalize()
  fixed.append(fixed_name)

print(fixed)

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [35]:
# min(list)
numbers = [5,6,7,8,9,10,4]
my_min = min(numbers)
print(my_min)

4

##### max()

In [32]:
# max(list)
print(max(numbers))

10

##### sum()

In [36]:
# sum(list)
my_sum = sum(numbers)
print(my_sum)

49

##### sorted()

In [38]:
# sorted(list)
sorted_version = sorted(numbers)
print(sorted_version)
print(numbers)

[4, 5, 6, 7, 8, 9, 10]
[5, 6, 7, 8, 9, 10, 4]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [39]:
# list.sort()

result = numbers.sort()
print(result)
print(numbers)
# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

None
[4, 5, 6, 7, 8, 9, 10]

##### Copying a List

In [48]:
# [:] copies a list, doesn't alter original
mylis = [6,6,6]
mylist = mylis
mylist.append(6)
print(mylist)

clone = mylis[:]    #slices entire list copying it
print(clone)

nums = [11,22,33,44,55,66,77,88,99]
l1=nums[:5]
print(l1)

l2=nums[5:]
print(l2)

l3=nums[3:6]
print(l3)

l4=nums[3:8:2]
print(l4)

#reversing list
reverse=nums[9::-1]
print(reverse)

[6, 6, 6, 6]
[6, 6, 6, 6]
[11, 22, 33, 44, 55]
[66, 77, 88, 99]
[44, 55, 66]
[44, 66, 88]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

##### 'in' keyword

In [50]:
teachers = ['bren', 'brad', 'sam']
if 'sam' not in teachers:
    print('found')
else:
    print('not found')

found

##### 'not in' keyword

In [ ]:
#see above

##### Checking an Empty List

In [52]:
# if l_1: or if l_1 = []

empty = []

if empty == []:
    print('found empty lsit')

if not empty:
    print('found not empty')

found empty lsit
found not empty

##### Removing Instances with a Loop

In [58]:
# while, remove
names = ['connor', 'max','max','joel','dan','max']
for name in names:
    if name == 'max':
        names.remove('max')

print(names)

while 'max' in names:
        names.remove('max')
print(names)


index = 0
while index < len(names):
     if names[index] == 'max':
          names.remove('max')
     else:
        index += 1

print(names)

['connor', 'joel', 'dan', 'max']
['connor', 'joel', 'dan']
['connor', 'joel', 'dan']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [59]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
fixed = []

for name in names:
    if name not in fixed:
        fixed.append(name)
print(fixed)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [65]:
# number comprehension

# With a regular for loop
nums = []
for num in range(21):
    if num % 2 == 0:
        nums.append(num)

print(nums)



# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]
nums_1c = [num for num in range (21) if num % 2 == 0]
print(nums_1c)

nums_2c = [num**2 for num in range (21)]
print(nums_2c)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [ ]:
# square number comprehension

In [72]:
# string comprehension



names = ['   jeff', 'moMo', ' colliN   ', 'sam           ']


fixed_names = [name.strip().capitalize() for name in names if name[0].lower() == 'a']

print(fixed_names)

[]

In [69]:
fixed_names = [name.strip().capitalize() for name in names]
print (fixed_names)

['Jeff', 'Momo', 'Collin', 'Sam']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [75]:
tup1 = (10,20,30)
tup2 = 100,200,300

print(tup1)
print(tup2)



print(tup1[1])
print(len(tup1))

(10, 20, 30)
(100, 200, 300)
20
3

##### sorted()

In [77]:
result = sorted(tup2)
print(result)

result_tup = tuple(result)
print(result_tup)

[100, 200, 300]
(100, 200, 300)

##### Adding values to a Tuple

In [80]:
tup3 = (10,11,12)
tup4 = (13,14,15)
result = tup3 + tup4
print(result)

result +=(16,)
print(result)

(10, 11, 12, 13, 14, 15)
(10, 11, 12, 13, 14, 15, 16)

## Functions

##### User-Defined vs. Built-In Functions

In [81]:
def say_hello():
    print('hello there')

##### Accepting Parameters

In [101]:
def gen_email(first_name, last_name):
    email = f"{first_name.lower()}.{last_name.lower()}@codingtemple.com"
    print(email)
    
gen_email('Daniel','Boobar')

daniel.boobar@codingtemple.com

##### Default Parameters

In [110]:
def gen_email(first_name, last_name, company='codingtemple'):
    email = f"{first_name}.{last_name}@{company}.com".lower()
    print(email)
    
gen_email('daniel','boobar',)
gen_email('jenna','debiagi','google')

daniel.boobar@codingtemple.com
jenna.debiagi@google.com

##### Making an Argument Optional

##### Keyword Arguments

In [113]:
# last_name='Max', first_name='Smith' in the function call

# see above
def create_profile(name, age=21,favorite_color='blue',power='flying'):
    introduction = f"hello my name is {name} and i am {age} years old. my favorite color is {favorite_color} and if i could have any power i would have {power}!"
    print(introduction)


create_profile("Daniel",power = 'teleporation')
create_profile("jenna", age=19, power= 'speed')

hello my name is Daniel and i am 21 years old. my favorite color is blue and if i could have any power i would have teleporation!
hello my name is jenna and i am 19 years old. my favorite color is blue and if i could have any power i would have speed!

# Creating a start, stop, step function

In [114]:
def my_range(start,stop = None,step=1):
    if stop is None:
        stop = start
        start = 0

    while start < stop:
        print(start)
        start +=step

In [119]:
my_range(12)

0
1
2
3
4
5
6
7
8
9
10
11

##### Returning Values

In [120]:
def my_range(start,stop = None,step=1):
    output = [0]
    if stop is None:
        stop = start
        start = 0

    while start < stop:
        output.append(start)
        start +=step
    return output

result=my_range(2,20,2)
print(result)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
def blender(fruit1,fruit2):
    smoothie = f"you made a {fruit1} and {fruit2} smoothie"
    return smoothie
smoothie1 = blender('strawberry','banna')
smoothie1 = blender('strawberry','banna')
smoothie1 = blender('strawberry','banna')
print(smoothie1)

##### *args

In [126]:
#gives you more room for inputs

def unlimited(item1, item2 = 'test', *args, **kwargs):
    print(item1)
    print(item2)
    print(args)
    print(kwargs)

unlimited(1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,'Daniel', [1,2,3,4], power = 'fly', age= 9000)

1
1
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 'Daniel', [1, 2, 3, 4])
{'power': 'fly', 'age': 9000}

##### Docstring

##### Using a User Function in a Loop

In [128]:
while True:
    action = input("what do you want to do?(quit or make smoothie)").lower()
    if action == 'quit':
        break
    else:
        f1=input('pick your first fruit')
        f2=input('pick another fruit')
        smoothie = blender(f1,f2)
        print(smoothie)

you made a strawberry and banana smoothie

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [2]:
num = 3
def func():
    num = 10
    num2 = 15
    return num + num2

result=func()
print(result)
print(num)

25
3

In [12]:
first_names = ['John', 'Evan', 'Jordan', 'Max']
last_names = [ 'Smith', 'Ayala', 'Carlson', 'Khan']


def combine_names(f_names, l_names):

NameError: name 'first_name' is not defined

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [42]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]
empty = []
for num in l_1:
    if num < 10:
        empty.append(num)

print(empty)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [50]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]
new_list = []
def combined():
   return l_1 + l_2
result =combined()
result2 = sorted(result)
print(result2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]